<h1>Chat room</h1>
  
<div id="messages">
  <%= render @messages %>
</div>

<!-- <form>
  <label>Say something:</label><br>
  <input type="text" data-behavior="room_speaker">
</form> -->

<%=form_for @message, url: rooms_path, remote: true, authenticity_token: true do |f|%>
  <%= f.label :your_message%>:
  <%= f.text_field :content, class: "form-control" %>

  <%#= f.hidden_field :chatroom_id, value: chatroom.id %>
  <%= f.submit "send", class: "btn btn-primary", data: {send: "message"}%>
<%end%>